* {
  transition: background-color 0.25s ease;
  font-family: "Vazirmatn", sans-serif;
  font-optical-sizing: auto; 
  font-style: normal; }
:root {
  
  --font-sans: "Vazirmatn", sans-serif;
  --font-heading: "Vazirmatn", sans-serif; }
[data-theme="theme2"] {
    --font-sans: "Vazirmatn", monospace;
    --font-heading: "Vazirmatn", sans-serif;}
 @import "tailwindcss";

 